@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap");

:root {
  --primery-font: "Inter", sans-serif;
  --secendary-font: "Macondo", cursive;
  --primery-color: #3a2620; /*blue*/
  --secendary-color: #aa9581; /*light brown*/
  --highlight-color: #416a8e; /*orange*/
  --highlight-color-light: #7a9fc2; /*light blue*/
}

body {
  font-family: var(--primery-font);
}

h1,
h2,
h3 {
  font-family: var(--secendary-font);
  color: var(--primery-color);
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 2rem;
}

.sub-heading-color {
  color: var(--highlight-color);
}

.section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* botton  */

.custom-btn-filled {
  border: 2px solid var(--highlight-color);
  background-color: var(--highlight-color);
  color: white;
  transition: all 0.3s ease-in-out;
}

.custom-btn-filled:hover {
  border: 2px solid var(--secendary-color);
  background-color: var(--secendary-color);
  color: white;
}

.custom-btn-outline {
  border: 3px solid var(--highlight-color);
  color: var(--highlight-color);
  transition: all 0.3s ease-in-out;
  padding: 7px 25px;
}

.custom-btn-outline:hover {
  background-color: var(--highlight-color);
  color: white;
}

/* header */
#header .lead {
  font-family: var(--secendary-font);
}

/* services */

#services .card-footer {
  font-weight: bold;
  color: var(--highlight-color);
  background-color: transparent;
}

#services .card {
  margin-bottom: 1.5rem;
}

/* navbar */

#navbar {
  background-color: var(--primery-color);
}

#navbar .logo {
  width: 30px;
}

/* Game library cards */

#new-games .card,
#fav-games .card {
  border: none;
}

/* footer / contact */
#contact {
  background-color: var(--primery-color);
  color: white;
  padding-bottom: 3rem;
}

#contact h2 {
  color: white;
  text-decoration: none;
}

#contact .sub-heading-color {
  color: var(--highlight-color-light);
}

#contact svg {
  color: var(--secendary-color);
  font-size: 1.2rem;
  margin-right: 15px;
}

#contact .social-link svg {
  color: var(--highlight-color-light);
  font-size: 1.9rem;
  transition: color 0.3s ease-in-out;
}

#contact .social-link svg:hover {
  color: var(--secendary-color);
}

#contact .table-dark * {
  background-color: transparent;
}

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
} */

@media screen and (min-width: 768px) {
  /* make all card same height */
  #services .card-body {
    min-height: 191px;
  }

  @media screen and (min-width: 992px) {
    /* make all card same height */
    #services .card-body {
      min-height: auto;
    }
  }

  @media screen and (min-width: 1220px) {
    /* make all card same height */
    #services .card-body {
      min-height: 220px;
    }
  }

  @media screen and (min-width: 1400px) {
    /* make all card same height */
    #services .card-body {
      min-height: 195px;
    }
  }
}
